html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background:#ffc600;
}

.photobooth {
  background:white;
  max-width:150rem;
  margin: 2rem auto;
  border-radius:2px;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo, .player {
  margin:2rem;
  width:calc(50% - 4rem);
  float:left;
  background:url('http://www.hiltonhawaiianvillage.com/assets/img/discover/oahu-island-activities/HHV_Oahu-island-activities_Content_Beaches_455x248_x2.jpg');
  background-size:cover;
}

/*
  Strip!
*/

.strip {
  padding:2rem;
}
.strip img {
  width:100px;
  overflow-x: scroll;
  padding:0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow:0 0 3px rgba(0,0,0,0.2);
  background:white;
}

.strip a:nth-child(5n+1) img { rotate: 10deg; }
.strip a:nth-child(5n+2) img { rotate: -2deg; }
.strip a:nth-child(5n+3) img { rotate: 8deg; }
.strip a:nth-child(5n+4) img { rotate: -11deg; }
.strip a:nth-child(5n+5) img { rotate: 12deg; }
